<form id="comicbookForm" method="post" action="/comicBooks/add">  
        <div class="container">   
            <label for="comicCover">Insert Picture of the Comic Book:</label> 
            <input type="file" id="comicCover" name="comicCover" accept="image/png, image/jpeg, image/jpeg" value= "{{comicbook.comicCover}}" required>

            <label for="comicbookTitle">Insert Title and Issue # of Comic Book:</label>    
            <input type="text" placeholder="Enter Title" id="comicbookTitle" name="comicbookTitle" value= "{{comicbook.comicbookTitle}}" required> 

            <label for="comicbookUniverse">Insert Universe of Comic Book:</label>    
            <input type="text" placeholder="Enter Universe" id="comicbookUniverse" name="comicbookUniverse" value= "{{comicbook.comicbookUniverse}}" required>

            <label for="comicbookYear">Insert Year of Comic Book:</label>    
            <input type="text" placeholder="Enter Year" id="comicbookYear" name="comicbookYear"  value= "{{comicbook.comicbookYear}}" required>

            <label for="comicbookDescription">Insert Description of Comic Book:</label>    
            <textarea placeholder="Enter Description" id="comicbookDescription" name="comicbookDescription" value= "{{comicbook.comicbookDescription}}"  required></textarea>

            <label for="comicbookPrice">Insert Price of Comic Book:</label>    
            <input type="text" placeholder="Enter Price" id="comicbookPrice" name="comicbookPrice" value= "{{comicbook.comicbookPrice}}" required>
            
            <label for="quantity">Insert Quantity of Comic Book:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="10" value= "{{comicbook.quantity}}" required>

            <button type="submit">Enter Comic Book</button>     
        </div>   
    </form> 