{{!-- {{needs revisited/finished}} --}}
{{!--Add css? --}}
{{!- -<link rel="stylesheet" href="../style/dashboard.css">  --}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Latest compiled and minified Bootstrap 3.3.7 CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="../style/dashboard.css"> 
    <title>Customer Orders</title>
  </head>
  <body>
    <div class="row">
    
    <div class="col-md-12">
        <h2>Orders</h2>
        <hr />
        <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>Order&nbsp;Number</th>
                <th>Order&nbsp;Date</th>
                <th>Customer&nbsp;Name</th>
                <th>Email</th>
                <th>Phone&nbsp;Number</th>
                <th>Product&nbsp;Titles</th>
                <th>Final&nbsp;Cost</th>
                <th>Picked&nbsp;Up?</th>
            </tr>
            </thead>
            <tbody>
            {{#each order}}
                <tr>
                    {{!-- {{get order number}} --}}
                    <td><a href="/order/{{orderNum}}"></a>{{orderNum}}</td>
                    {{!-- {{get order date}} --}}
                    <td><a href="/order/{{orderDate}}"></a>{{orderDate}}</td>
                    {{!-- {{get customer namer}} --}}
                    <td><a href="/order/{{customerName}}"></a>{{customerName}}</td>
                    {{!-- {{get customer email}} --}}
                    <td><a href="/order/{{customerEmail}}"></a>{{customerEmail}}</td>
                    {{!-- {{get customer phone}} --}}
                    <td><a href="/order/{{customerPhone}}"></a>{{customerPhone}}</td>
                    {{!-- {{get order titles}} --}}
                    <td><a href="/order/{{orderTitles}}"></a>{{orderTitles}}</td>
                    {{!-- {{get final cost}} --}}
                    <td><a href="/order/{{finalCost}}"></a>{{finalCost}}</td>
                    {{!-- {{get order status}} --}}
                    <td><a href="/order?status={{status}}">{{status}}</a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        </div>
    </div>
    {{#unless employees}}
    <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>
    

    <!-- Latest compiled and minified jQuery 3.2.1 JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified Bootstrap 3.3.7 JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
