<div class="row">
    
    <div class="col-md-12">
        <h2>Comic Books<a href="/InventoryEntry" class="btn btn-success pull-right">Add New Comic</a></h2>
        <hr />
        <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>ID&nbsp;Num</th>
                <th>Title</th>
                <th>Universe</th>
                <th>Year</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each comicBooks}}
                <tr>
                    <td>{{_id}}</td>
                    <td><a href="/comicBook/"{{comicbookTitle}}></a></td>
                    <td>{{comicbookUniverse}}</td>
                    <td>{{comicbookYear}}</td>
                    <td>{{comicbookDescription}}</td>
                    <td>{{comicbookPrice}}</td>
                    <td><a href="/comicBooks/delete/:comicNum{{idNum}}" class="btn btn-danger">Remove</a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        </div>
    </div>
    {{#unless comicBooks}}
    <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>