<div class="wrapper">
        <div class="top">
            <img class = "marketplaceHeader" src="images/marketplaceHeader.png" alt="Marketplace Header"><br>
        <label for="sort">Sort by:</label>
        <select id="sort" onchange="sortItems()">
            <option value="price">Price</option>
            <option value="title">Title</option>
        </select>
        </div>

        <div id="row">
        {{#each comicBooks}}
            <div class="item" data-price="{{price}}" data-title="{{title}}">
                <img src="./comic_covers/{{comicCover}}"  alt="Item 1"> 
                <h2>{{comicbookTitle}}</h2>
                <p>{{comicbookYear}} {{comicbookUniverse}}<br/> Price: ${{comicbookPrice}}</p>
		        <p>{{comicbookDescription}}</p> 
            </div>
            {{/each}}
        </div>

                <section>
                    <a href="/AboutUs"><img class = "marketplaceBanner" src="images/marketplaceBanner.png" alt="Marketplace Banner"></a>
                </section>
            </div>